<div class="participant" [ngClass]="{'speaking': isSpeaking}">
  @if(!participant?.videoEnabled){
    <img src="{{member?.user?.imageUrl ?? 'avatar.jpg'}}">
  }
  <video id="video-{{participant?.identity}}"></video>
  <div class="voice-username">
    {{member?.user?.username}}
  </div>
  <div class="voice-options">
    <mat-icon fontIcon="{{participant?.videoEnabled ? 'videocam' : 'videocam_off'}}"></mat-icon>
    <mat-icon fontIcon="{{participant?.audioEnabled ? 'volume_up' : 'volume_off'}}"></mat-icon>
  </div>
</div>
