<div class="section">
  <div class="cards">
    <div class="card">
      <div class="icon-container">
        <i class="icon pi pi-globe"></i>
      </div>
      <div class="card-title">Web</div>
      <span class="card-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
    </div>
    <div class="card">
      <div class="icon-container">
        <i class="icon pi pi-mobile"></i>
      </div>
      <div class="card-title">Mobile</div>
      <span class="card-description">Risus nec feugiat in fermentum posuere urna nec. Posuere sollicitudin aliquam ultrices sagittis.</span>
    </div>
    <div class="card">
      <div class="icon-container">
        <i class="icon pi pi-users"></i>
      </div>
      <div class="card-title">Communities</div>
      <span class="card-description">Ornare suspendisse sed nisi lacus sed viverra tellus. Neque volutpat ac tincidunt vitae semper.</span>
    </div>
    <div class="card">
      <div class="icon-container">
        <i class="icon pi pi-comments"></i>
      </div>
      <div class="card-title">Text chat</div>
      <span class="card-description">Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus.</span>
    </div>
    <div class="card">
      <div class="icon-container">
        <i class="icon pi pi-phone"></i>
      </div>
      <div class="card-title">Voice chat</div>
      <span class="card-description">Nec tincidunt praesent semper feugiat. Sed adipiscing diam donec adipiscing tristique risus nec feugiat.</span>
    </div>
    <div class="card">
      <div class="icon-container">
        <i class="icon pi pi-ban"></i>
      </div>
      <div class="card-title">Permissions</div>
      <span class="card-description">Mattis rhoncus urna neque viverra justo nec ultrices. Id cursus metus aliquam eleifend.</span>
    </div>
  </div>
</div>
