<div class="section">
  <div class="cards">
    <div class="card">
      <div class="icon-container">
        <i class="icon pi pi-globe"></i>
      </div>
      <div class="card-title">Web</div>
      <span class="card-description">Available for every modern browser</span>
    </div>
    <div class="card">
      <div class="icon-container">
        <i class="icon pi pi-mobile"></i>
      </div>
      <div class="card-title">Mobile</div>
      <span class="card-description">Dedicated app for Android devices</span>
    </div>
    <div class="card">
      <div class="icon-container">
        <i class="icon pi pi-users"></i>
      </div>
      <div class="card-title">Communities</div>
      <span class="card-description">Create communities with other users</span>
    </div>
    <div class="card">
      <div class="icon-container">
        <i class="icon pi pi-comments"></i>
      </div>
      <div class="card-title">Text chat</div>
      <span class="card-description">Chat with others on dedicated channels</span>
    </div>
    <div class="card">
      <div class="icon-container">
        <i class="icon pi pi-phone"></i>
      </div>
      <div class="card-title">Voice chat</div>
      <span class="card-description">Call you friends on voice channels</span>
    </div>
    <div class="card">
      <div class="icon-container">
        <i class="icon pi pi-ban"></i>
      </div>
      <div class="card-title">Permissions</div>
      <span class="card-description">Create custom roles for your community</span>
    </div>
  </div>
</div>
