.buttons *{
  margin-left: 3px;
  margin-right: 3px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  width: 100%;
  padding-top: 16px;
}

.card {
  background-color: var(--light-background);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.card-title {
  display: block;
  color: #555555;
  font-size: 14px;
  margin-bottom: 4px;
}

.card-value {
  font-size: 24px;
  font-weight: bold;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a2d2d;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.icon {
  font-size: 20px;
  color: #86d6be;
}
