<div class="profile">
  <!-- User avatar and name -->
  <mat-card>
    <mat-card-content class="first-card-content">
        <div class="first-card">
          <h2>{{username}}</h2>
          <div class="image-container">
            <img (click)="editAvatar()" class="profile-picture" src="avatar.jpg">
            <div class="flex-center profile-hint">
              <mat-icon fontIcon="photo_camera"></mat-icon>
              Change picture
            </div>
          </div>
          <button mat-flat-button (click)="openUserSettings()">Open user settings</button>
        </div>
    </mat-card-content>
  </mat-card>

  <!-- Changing description -->
  <mat-card>
    <mat-card-header>
      <h2>Change your description</h2>
    </mat-card-header>
    <mat-card-content class="description">
      <mat-form-field appearance="outline" style="margin-top: 5px">
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="userDescription"></textarea>
      </mat-form-field>
      <button class="description-button" mat-flat-button>Save</button>
    </mat-card-content>
  </mat-card>

  <!-- Logout and delete account -->
  <mat-card>
    <mat-card-content>
      <app-button-danger (click)="logout()" style="margin-right: 10px">Logout</app-button-danger>
      <app-button-danger (click)="deleteAccount()">Delete account</app-button-danger>
    </mat-card-content>
  </mat-card>
</div>
