<app-layout>
  <app-users-list-voice sidebar></app-users-list-voice>
  <div class="container" content>
    <div class="voice-nav">
      <h3>{{channelName}}</h3>
      <button (click)="disconnect()">Disconnect</button>
      <div>
        <mat-icon fontIcon="{{clientSilent ? 'mic_off' : 'mic'}}"></mat-icon>
        <mat-icon (click)="toggleClientMuted()" fontIcon="{{clientMuted ? 'volume_off' : 'volume_up'}}"></mat-icon>
      </div>
    </div>
    <div class="grid-container">
      <app-user-panel></app-user-panel>
      <app-user-panel></app-user-panel>
      <app-user-panel></app-user-panel>
      <app-user-panel></app-user-panel>
      <app-user-panel></app-user-panel>
      <app-user-panel></app-user-panel>
      <app-user-panel></app-user-panel>
      <app-user-panel></app-user-panel>
      <app-user-panel></app-user-panel>
      <app-user-panel></app-user-panel>
      <app-user-panel></app-user-panel>
      <app-user-panel></app-user-panel>
      <app-user-panel></app-user-panel>
      <app-user-panel></app-user-panel>
      <app-user-panel></app-user-panel>
      <app-user-panel></app-user-panel>
    </div>
  </div>
</app-layout>
