<app-layout>
  <app-users-list-voice sidebar></app-users-list-voice>
  @if(selectedChannel()){
    <div class="container" content>
      <div class="voice-nav">
        <h3>{{selectedChannel()?.name}}</h3>
        <button (click)="disconnect()">Disconnect</button>
        <div>
          <mat-icon (click)="toggleClientCamera()" fontIcon="{{clientCamera ? 'mic_off' : 'mic'}}"></mat-icon>
          <mat-icon (click)="toggleClientMuted()" fontIcon="{{clientMuted ? 'volume_off' : 'volume_up'}}"></mat-icon>
        </div>
      </div>
      <div class="grid-container">
        @for(participant of participants(); track participant){
          <app-user-panel [member]="findParticipantData(participant)"></app-user-panel>
        }
      </div>
    </div>
  } @else{
    <div content><h1 class="flex-center w-100">No voice chat selected</h1></div>
  }
</app-layout>
