:host{
  color: white;
  display: grid;
  place-items: center;
  height: 100vh;
  background: linear-gradient(135deg,
    #1f6d5a 10%,
    #19463f 30%,
    #153933 50%,
    #102d28 70%,
    #0b211d 85%,
    #050f0f 95% );
}

mat-card{
  place-self: center;
  padding: 50px;
  background: var(--light-background);
}

.section {
  padding: 40px 16px;
  text-align: center;
  color: #ffffff;
}

.title {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 12px;
}

.subtitle {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.icon {
  margin-right: 8px;
}

.icon-image {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  object-fit: cover;
}
