<div class="landing">
  <div class="container">
    <div class="text-section">
      <section>
        <span class="title">Welcome to</span>
        <div class="subtitle">Szampchat</div>
        <p class="description">Connect, chat, and build communities effortlessly</p>

        <button routerLink="/app/communities" mat-flat-button>
          Get started
        </button>
        <a style="margin-left: 15px" mat-stroked-button href="https://github.com/stasiuwa/ChatAppAndroid">
          Mobile app
        </a>
      </section>
    </div>
  </div>
  <app-features></app-features>
</div>
