.landing{
  display: grid;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(167deg, #000000, #195c52, #a8e6cf);
}

.actions{
  place-self: center;
  padding: 25px;
  color: white;
  background: var(--background);
}

h1{
  margin: 0;
}



