<div class="landing">
  <div class="container">
    <div class="text-section">
      <section>
        <span class="title">Welcome to</span>
        <div class="subtitle">Szampchat</div>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

        <button routerLink="/app/communities" mat-flat-button>
          Get started
        </button>
        <a style="margin-left: 15px" mat-stroked-button href="https://github.com/stasiuwa/ChatAppAndroid">
          Mobile app
        </a>
      </section>
    </div>
    <!--  <div class="image-section">-->
    <!--    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVag4oF-FA7_uEmk3qzZcN_Xe_4Jc1EGhQYMDAzQhOhs1HZz3STGD-I13RN5NyfFJuArVrBUGkEaluxpk3AAl3q1IBolEzGencQ1CNzA" alt="Image" class="image">-->
    <!--  </div>-->
  </div>
<!--  <app-features></app-features>-->
</div>
