<h2 mat-dialog-title>Create new channel</h2>
<form [formGroup]="channelForm" (ngSubmit)="submitChannelForm()">
  <mat-dialog-content style="display: flex; flex-direction: column">
    <mat-form-field appearance="outline" style="margin-top: 5px">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select required formControlName="type">
        <mat-option value="0">Text</mat-option>
        <mat-option value="1">Voice</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    @if (editing()){
      <button mat-button (click)="editPermissions(); $event.preventDefault()">Edit permissions</button>
      <button mat-button (click)="deleteChannel(); $event.preventDefault()">Delete</button>
    }
    <button mat-button type="submit" [disabled]="channelForm.invalid">
      @if (loading()) {
        <mat-spinner [diameter]="20"></mat-spinner>
      } @else {
        <span>{{ editing() ? 'Edit' : 'Create' }}</span>
      }
    </button>
  </mat-dialog-actions>
</form>
