:host{
  margin: 20px;
}

.community-container{
  background: #191c1c;
  color: white;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  gap: 10px;
}

img {
  width: 75px;
  height: auto;
  border-radius: 20px;
}
