<mat-list>
  @if(canCreateChannel()){
    <div>
      <button (click)="addChannel()" mat-button>Add new channel <mat-icon fontIcon="add"></mat-icon></button>
    </div>
  }
  @for (channel of voiceChannels(); track channel) {
    <div [ngClass]="{'active': channel.id === selectedChannelId()}">
      <div style="display: flex; flex-direction: row; align-items: center" >
        <mat-list-item (click)="selectChannel(channel)"  class="pointer">
          <span matListItemTitle  class="pointer">{{ channel?.name! | short}}</span>
        </mat-list-item>
        @if(canModifyChannel()){
          <button (click)="editChannel(channel)" mat-icon-button>
            <mat-icon fontIcon="edit"></mat-icon>
          </button>
        }
      </div>
      <div style="margin-left: 20px; margin-right: 20px; padding-bottom: 10px;">
        <p-avatarGroup>
          @for(participant of channel.participants; track participant){
            <p-avatar image="{{getParticipantImage(participant)}}" shape="circle" size="normal"/>
          }
        </p-avatarGroup>
      </div>
    </div>
  }
</mat-list>
