<mat-list>
  @if(canCreateChannel()){
    <div>
      <button (click)="addChannel()" mat-button>Add new channel <mat-icon fontIcon="add"></mat-icon></button>
    </div>
  }
  @for (channel of voiceChannels(); track channel) {
    <div style="display: flex; flex-direction: row; align-items: center">
      <app-text-channel-info [ngClass]="{'active': channel.id === selectedChannelId()}"
        (click)="selectChannel(channel)"
        [channel]="channel">
      </app-text-channel-info>

      @if(canModifyChannel()){
        <button (click)="editChannel(channel)" mat-icon-button>
          <mat-icon fontIcon="edit"></mat-icon>
        </button>
      }
    </div>
  }
</mat-list>
