<mat-icon routerLink="/app/communities/text" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" fontIcon="chat"></mat-icon>
<mat-icon routerLink="/app/communities/voice" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" fontIcon="mic"></mat-icon>
<mat-icon routerLink="/app/communities" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" fontIcon="group"></mat-icon>
<mat-icon routerLink="/app/profile" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" fontIcon="settings"></mat-icon>
