<!-- display gif if it was added to message -->
@if(selectedGif().length !== 0){
  <div class="gif-container">
    <img src='{{selectedGif()}}'>
    <mat-icon (click)="resetGif()" fontIcon="delete" class="deleteIcon"></mat-icon>
  </div>
}

<!-- display image if it was added to message -->
@if(imagePreview() !== ''){
  <div class="image-container">
    <img src='{{imagePreview()}}'>
    <mat-icon (click)="resetFile()" fontIcon="delete" class="deleteIcon"></mat-icon>
  </div>
}

<!-- display message to which user is responding -->
@if(messageToRespond && messageToRespond.id !== ''){
  <div class="flex" style="margin-left: 15px">
    <p>Responding to: {{messageToRespond.text}}</p>
    <mat-icon (click)="messageToRespond = undefined" fontIcon="close"></mat-icon>
  </div>
}

<!-- please do it in better way -->
@if(canCreateMessage()){
  <div class="message-input">
    <!-- preventing from displaying additional margin at bottom (place for hint) -->
    <mat-form-field style="margin-bottom: -1.25em" appearance="outline">
      <input [(ngModel)]="text" (keyup)="sendMessageKeyboard($event)" autocomplete="off" matInput placeholder="Write something here...">
    </mat-form-field>
    <div class="icons">
      <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden />
      <mat-icon (click)="triggerFileInput()" fontIcon="attach_file" matTooltip="Choose file to attach"></mat-icon>
      <mat-icon fontIcon="gif" matTooltip="Add gif to message" (click)="toggleGifSearch()"></mat-icon>
      <mat-icon fontIcon="add_reaction" matTooltip="Add emoji to message" (click)="toggleEmojiPicker()"></mat-icon>
      <mat-icon (click)="sendMessage()" fontIcon="send" matTooltip="Send message"></mat-icon>
    </div>
  </div>
}

@if(showEmojiPicker()){
  <app-emoji-picker (clickOutside)="closeEmojiPicker()" (emojiSelect)="appendEmojiToInputField($event)"></app-emoji-picker>
}

@if(showGifSearch()){
  <app-gif-search (clickOutside)="closeGifSearch()" (chosenGif)="selectGif($event)"></app-gif-search>
}
