:host{
  background: var(--background);
}

app-emoji-picker, app-gif-search{
  position: absolute;
  right: 20px;
  bottom: 10%;
}

.message-input{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 15px 25px;
  overflow: hidden;
}

input, form, mat-form-field {
  width: 90%;

  @media screen and (max-width: 1200px) {
    width: 70%;
  }

  @media screen and (max-width: 1000px) {
    width: 65%;
  }

  @media screen and (max-width: 600px) {
    width: 50%;
  }
}

.icons{
  display: flex;
  justify-content: flex-end;
  width: 20%;

  @media screen and (max-width: 1200px) {
    width: 30%;
  }

  @media screen and (max-width: 1000px) {
    width: 35%;
  }

  @media screen and (max-width: 600px) {
    width: 50%;
  }
}

mat-icon{
  font-size: 32px;
  height: 32px;
  width: 32px;
  padding: 8px;
  border-radius: 10px;
}

mat-icon:hover{
  background: var(--light-background);
  cursor: pointer;
}
