<h2 mat-dialog-title>Create new role</h2>
<form>
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Role name</mat-label>
      <input matInput>
    </mat-form-field>
    <p><mat-slide-toggle labelPosition="before">Permission 1</mat-slide-toggle></p>
    <p><mat-slide-toggle labelPosition="before">Permission 2</mat-slide-toggle></p>
    <p><mat-slide-toggle labelPosition="before">Permission 3</mat-slide-toggle></p>
    <p><mat-slide-toggle labelPosition="before">Permission 4</mat-slide-toggle></p>
    <p><mat-slide-toggle labelPosition="before">Permission 5</mat-slide-toggle></p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button>Create</button>
  </mat-dialog-actions>
</form>
