<mat-list>
  @if(permission()?.canCreateChannel){
    <div>
      <button (click)="addChannel()" mat-button>Add new channel <mat-icon fontIcon="add"></mat-icon></button>
    </div>
  }
  @for (channel of textChannels(); track channel) {
    <div [ngClass]="{'active': channel.id === selectedChannelId()}">
      <div style="display: flex; flex-direction: row; align-items: center">
        <mat-list-item (click)="selectChannel(channel)"  class="pointer">
          <span matListItemTitle  class="pointer">{{ channel?.name! | short}}</span>
        </mat-list-item>
        @if(permission()?.canModifyChannel){
          <button (click)="editChannel(channel)" mat-icon-button>
            <mat-icon fontIcon="edit"></mat-icon>
          </button>
        }
      </div>
    </div>
  }
</mat-list>
