<!-- Fix width -->
<mat-accordion>
  @for(user of users; track user.id){
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <app-user-basic-info [username]="user.name"></app-user-basic-info>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>User description</p>
      <!--   add condition based on roles array length   -->
      @if(true){
        <p>Roles:</p>
        <mat-chip-set>
          @for(role of user.roles; track role){
            <mat-chip>{{role}}</mat-chip>
          }
        </mat-chip-set>
      }
    </mat-expansion-panel>
  }
</mat-accordion>
<p>hej {{user}}</p>
<button (click)="logout()">Logout</button>
