<mat-card>
  <mat-card-header>
    <mat-card-title>Sign up</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submitRegistration()">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Enter your email address">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input formControlName="username" matInput placeholder="Enter your username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input formControlName="password"  matInput placeholder="Enter your password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Repeat password</mat-label>
        <input formControlName="repeatPassword" matInput placeholder="Repeat your password">
      </mat-form-field>
      <button mat-flat-button color="primary">Create account</button>
    </form>
  </mat-card-content>
</mat-card>
