.message-container{}

.message-wrapper{
  display: inline-block;

}

.message{
  display: flex;
  flex-direction: row-reverse;
}

.message-content{
  padding: 10px;
  background: #13574f;
  color: white;
  border-radius: 20px;
}
