<h2 mat-dialog-title>{{ editing ? 'Edit role': 'Create new role'}}</h2>
<form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Role name</mat-label>
      <input matInput [formControl]="roleName" required>
      @if(roleName.hasError('required')){
        <mat-error>Role name is required</mat-error>
      }
      @if(roleName.hasError('minlength')){
        <mat-error>Role name must be at least 3 characters long</mat-error>
      }
    </mat-form-field>
    @for(key of Object.keys(permissions); track key){
      @if(key !== 'rawValue'){
        <div class="select">
          <p>{{ formatRoleName(key) }}</p>
          <p-selectButton [options]="roleOptions"
                          optionLabel="icon"
                          formControlName="{{key}}">
            <ng-template let-item pTemplate>
              <i [class]="item.icon"></i>
            </ng-template>
          </p-selectButton>
        </div>
      }
    }
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [disabled]="!roleName.valid">{{ editing ? 'Edit' : 'Create'}}</button>
  </mat-dialog-actions>
</form>
