<mat-list>
  @for(member of members(); track member.user.id){
    <mat-card appearance="outlined">
      <mat-card-header>
        <img mat-card-avatar src="{{member.user.imageUrl ?? 'avatar.png'}}" class="example-header-image">
        <mat-card-title>
          <span>{{member.user.username}}</span>
        </mat-card-title>
        <mat-card-subtitle>
          <mat-chip-set>
            @for(role of member.roles; track role){
              <mat-chip>{{getRoleName(role)}}</mat-chip>
            }
          </mat-chip-set>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  }
</mat-list>
