<!-- TODO Fix css -->

<div class="message-container" [ngStyle]="fromClient ?
  {'align-items': 'flex-end'}
  : {'align-items': 'flex-start'}">
<!--  <p>user {{message.updatedAt.toDateString()}} {{message.edited ? '(edited)' : ''}}</p>-->
  <div class="message-wrapper" [ngStyle]="fromClient ?
    {'flex-direction': 'row-reverse'}
    : {'flex-direction': 'row'}">
    <div class="user-info-container">
      <app-avatar></app-avatar>
      <app-user-basic-info [ngStyle]="fromClient ? {'right': '20px'} : {'left': '20px'}">
      </app-user-basic-info>
    </div>
    <div class="message-content" [ngStyle]="fromClient ?
    {'background': '#0d5043', 'margin-right': '10px'} :
    {'background': '#565656', 'margin-left': '10px'}">
      <!-- Add some graphical clue and text -->
      @if(message?.respondsToMessage !== undefined && message?.respondsToMessage !== ''){
        <p>Responding to {{message?.respondsToMessage}}</p>
      }
      <p class="message-text">{{message?.text}}</p>
      @if(message?.gifLink !== ''){
        <div class="gif-wrapper">
          <img src="{{message?.gifLink}}" alt="{{message?.gifLink}}">
        </div>
      }
    </div>

    <!--  Menu with additional actions  -->
    <div class="message-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="respondToMessage()">Respond</button>
        <button mat-menu-item (click)="showReactionPicker = true">React</button>
        <button mat-menu-item (click)="edit()">Edit</button>
        <button mat-menu-item (click)="delete()">Delete</button>
      </mat-menu>
    </div>
  </div>

</div>

@if(showReactionPicker){
  <app-emoji-picker (clickOutside)="showReactionPicker = false" (emojiSelect)="appendReaction($event)">
  </app-emoji-picker>
}
