

.message-content{
  padding: 10px;
  color: white;
  border-radius: 20px;
}

.message-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.message-wrapper{
  display: flex;
  align-items: flex-start;
}

.message-menu{
  display: none;
}

.message-container:hover .message-menu {
  display: block;
}

.message-text{
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
}

.gif-wrapper img{
  max-width: 70vw;
}

.message-wrapper img {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-bottom: 10px;
}

.user-info-container{
  position: relative;
  display: inline-block;
}

app-user-basic-info{
  display: none;
  position: absolute;
  top: 100%;
  background-color: #333;
  color: white;
  padding: 10px 10px 0;
  border-radius: 5px;
  z-index: 100;
}

.user-info-container:hover app-user-basic-info,
.user-info-container app-user-basic-info:hover {
  display: block;
}
