

.message-content{
  padding: 10px;
  color: white;
  border-radius: 20px;
}

.message-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.message-wrapper{
  display: flex;
  align-items: center;
}

.message-menu{
  display: none;
}

.message-container:hover .message-menu {
  display: block;
}
