mat-dialog-container{
  padding: 0 20vw;
}

.add-button{
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 2;

  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
}


.community-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 15px;
  width: 100%;
}
