<app-layout>
  <app-communities-list sidebar></app-communities-list>
<!--  If app-community-details is render two times (2 components in another component it work properly xD-->
<!--  @if(isCommunitySelected){-->
<!--    <app-community-details content class="community-container"></app-community-details>-->
<!--  } @else {-->
<!--    <h1 content class="flex-center" style="width: 100%">No community selected!</h1>-->
<!--  }-->
  <!-- While using if to conditionally render site there is issue with listening to community changes -->
  <app-community-details content class="community-container"></app-community-details>
</app-layout>
<button mat-fab (click)="openDialog()" class="add-button">
  <mat-icon>add</mat-icon>
</button>
