:root,:host{
  // angular material theme system variables
  --sys-background:#0f1513;
  --sys-on-background:#dee4e0;
  --sys-surface:#0f1513;
  --sys-surface-dim:#0f1513;
  --sys-surface-bright:#343b38;
  --sys-surface-container-lowest:#090f0d;
  --sys-surface-container-low:#171d1b;
  --sys-surface-container:#1b211f;
  --sys-surface-container-high:#252b29;
  --sys-surface-container-highest:#303634;
  --sys-on-surface:#dee4e0;
  --sys-surface-variant:#3f4945;
  --sys-on-surface-variant:#bfc9c4;
  --sys-inverse-surface:#dee4e0;
  --sys-inverse-on-surface:#2b322f;
  --sys-outline:#89938f;
  --sys-outline-variant:#3f4945;
  --sys-shadow:#000000;
  --sys-scrim:#000000;
  --sys-surface-tint:#86d6be;
  --sys-primary:#86d6be;
  --sys-on-primary:#00382d;
  --sys-primary-container:#005142;
  --sys-on-primary-container:#a2f2da;
  --sys-inverse-primary:#0e6b58;
  --sys-secondary:#86d6be;
  --sys-on-secondary:#00382c;
  --sys-secondary-container:#005141;
  --sys-on-secondary-container:#a2f2d9;
  --sys-tertiary:#91cef5;
  --sys-on-tertiary:#00344b;
  --sys-tertiary-container:#004c6b;
  --sys-on-tertiary-container:#c6e7ff;
  --sys-error:#ffb4ab;
  --sys-on-error:#561e19;
  --sys-error-container:#73342d;
  --sys-on-error-container:#ffdad5;
  --sys-neutral:#727875;
  --sys-neutral-variant:#6f7975;
  --sys-primary-fixed:#a2f2da;
  --sys-primary-fixed-dim:#86d6be;
  --sys-on-primary-fixed:#002019;
  --sys-on-primary-fixed-variant:#005142;
  --sys-secondary-fixed:#a2f2d9;
  --sys-secondary-fixed-dim:#86d6be;
  --sys-on-secondary-fixed:#002019;
  --sys-on-secondary-fixed-variant:#005141;
  --sys-tertiary-fixed:#c6e7ff;
  --sys-tertiary-fixed-dim:#91cef5;
  --sys-on-tertiary-fixed:#001e2d;
  --sys-on-tertiary-fixed-variant:#004c6b;
  --sys-inverse-secondary:#0f6b58;
  --sys-inverse-tertiary:#206487;
  --sys-inverse-error:#904a43;
  --sys-error-fixed:#ffdad5;
  --sys-error-fixed-dim:#ffb4ab;
  --sys-on-error-fixed:#3b0907;
  --sys-on-error-fixed-variant:#73342d;

  // other variables
  --background: #0f1513;
  --light-background: #191c1c;
  --text: white;
}
