/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // make theme for app
  color: black;
}

.hideOnScroll{
  opacity: 0;
  transition: all 0.5s;
}

.showOnScroll{
  opacity: 1;
}

.flex {
  display: flex;
}

.align-center{
  align-items: center;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-100{
  width: 100%;
}

app-emoji-picker, app-gif-search{
  position: absolute;
  right: 20px;
  bottom: 10%;
  z-index: 100;
}
