<div class="text-chat-container">
  <!-- messages -->
  <div class="messages" #scrollContainer (scroll)="onScroll()">
    @if(loadedAllData() && messages().length !== 0){
      <h1 class="flex-center">No more messages</h1>
    }
    @if(messages()){
      @if(messages().length === 0){
        <h1 class="flex-center" style="text-align: center; padding: 0 15%;">
          It seems that no one sent message at this channel yet. Be first!
        </h1>
      }
      @else{
        @for(message of messages(); track message.id){
          <app-message [message]="message"
                       [userId]="userService.getUser().id"
                       (respondsTo)="setResponse($event)">
          </app-message>
        }
      }
    }
  </div>
  <!-- message input -->
  <app-message-input [messageToRespond]="messageToRespond"></app-message-input>
</div>
