.text-chat-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #191919;
}

.messages{
  flex: 1;
  overflow-y: auto;
  padding: 0 15px;
}

app-emoji-picker, app-gif-search{
  position: absolute;
  right: 20px;
  bottom: 10%;
}

.resources-container{
  background: #191c1c;
  height: 30vh;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10%;

  img {
    max-width: 65%;
    max-height: 65%;
  }
}
